# Coverage
.coverage
htmlcov/

# Build artifacts
build/
dist/
pytest_datafiles.egg-info/
.doctrees/

# Python cache
__pycache__/

# Virtual environments
.venv/
.tox/

# Ruff cache
.ruff_cache/

# IDE
.idea/
